<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/PTra10-インスタンスとクラス_src/PTra10_06.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="PTra10_06"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="PTra10-インスタンスとクラス_src"/>
</launchConfiguration>
